

.input{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left:3rem;
    margin:1rem;
}


.input input{
    margin-right:4rem;
}

/* .form-group{
    display: flex;
    flex-direction: column;
    width:700px;
    margin-left:4rem;
} */
.form-group{
    max-width: 700px;
    margin-left:4rem;
    margin-top:1rem;
}

.text-area label{
    margin-top:1.5rem;
}

button{
    float:right;
    padding:2rem;
    margin-top: 1rem;
    margin-right:2rem;
    text-align: center;
}

form{
    padding-top:2rem;
    margin-bottom:3rem;
    background: #C7CCC5;
    padding-bottom:7rem;
}

table{
    text-align: center;
}

select{
    width:50px
}

label{
    font-weight: 600;
}

